# ===== Java / Maven =====
target/
*.class
*.jar
*.war
!gradle/wrapper/gradle-wrapper.jar

# ===== Spring Boot =====
application-local.yml
.env

# ===== Angular / Node =====
node_modules/
dist/
/.angular/cache/

# ===== IDE =====
.idea/
*.iml
.vscode/
*.swp
*.swo

# ===== Docker =====
.env

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
logs/
*.log